$primary-background: #f95959;
$secondary-background: #e3e3e3;
$text-color: #455d7a;


header {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-background;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .pic img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        transition: transform 2s ease-in-out;
     }

     .pic img:hover {
        transform: scale(1.1);
     }

     .name {
        font-size: 32px;
        text-align: center;
        color: $text-color;
        margin-bottom: 48px;
        font-family: Arial, Helvetica, sans-serif;
        transition: transform 2s ease-in-out;
    }

    .name:hover {
        transform: scale(1.2)
    }

    .nav-items {
        position: absolute;
        padding: 8px;
        bottom: 0;
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-size: 24px;
        
        a {
            text-decoration: none;
            color: $text-color;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    
    
}

body {
    margin: 0;
    background-color: #e3e3e3;
    min-height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: $primary-background;
    padding: 16px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .social-media {
        width: 100%;
        color: $text-color;
        align-items: center;
        justify-content: space-evenly;
    }

    .info {
        font-size: 18px;
        color: $text-color;
        font-family: Arial, Helvetica, sans-serif;
    
    }
}
