$primary-background: #f95959;
$secondary-background: #e3e3e3;
$text-color: #455d7a;


header {
    background-color: $primary-background;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


    .pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    img {
        padding: 16px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        transition: transform 2s ease-in-out;

     }

     .pic img:hover {
        transform: scale(1.1);
     }

     .centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

     .name {
        padding: 16px;
        font-size: 20px;
        text-align: center;
        color: $text-color;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-items {
        width: 50%;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 18px;
        
        a {
            text-decoration: none;
            color: $text-color;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header .pic img {
        height: 175px;
        width: 175px;
    }

    .name {
        font-size: 24px;
    }

    .nav-items {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    header .pic img {
        height: 200px;
        width: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .name {
        font-size: 28px;
    }

    .nav-items {
        width: 50%;
    }
}

body {
    margin: 0;
    background-color: #e3e3e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


footer {
    background-color: $primary-background;
    padding: 16px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .social-media {
        width: 100%;
        color: $text-color;
        align-items: center;
        justify-content: space-between;
    }

    .info {
        font-size: 18px;
        color: $text-color;
        font-family: Arial, Helvetica, sans-serif;
    
    }
}
