@import "../defaults/color";
@import "../defaults/breakpoints";

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    article {
      border: 1px solid $primary-color;
      border-radius: 10px;
      overflow: hidden;
      margin: 20px;
      padding: 24px;
      text-align: center;
      background-color: $secondary-color;
  
      .section-one {
        h2 {
          color: $primary-background;
          font-family: Georgia, 'Times New Roman', Times, serif;
        }
  
        p {
          color: $secondary-background;
          white-space: pre-wrap;
        }

        .download-btn {
          background-color: $primary-background;
          border: 2px solid $secondary-background;
          border-radius: 4px;
          color: $secondary-background;
          padding: 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .download-btn a {
          color: $secondary-background;
          text-decoration: none;
        }
      }
  
      .section-two {
        img {
          width: 300px;
          height: 300px;
          padding: 20px;
        }
      } 

      @media screen and (min-width: $medium) {
        
      }

      @media screen and (min-width: $large) {
        flex: 1;

        h2{
          justify-self: flex-start;
        }

        p {
          font-size: 20px;
        }

        .section-two {
          justify-content: space-between;
        }
    }
  }
}
        