@import "../defaults/color";
@import "../defaults/breakpoints";

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    article {
        border: 1px solid $primary-color;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px;
        padding: 24px;
        text-align: center;
        background-color: $secondary-color;

        section {
            .html-image {
                width: 350px;
                border-radius: 16px;
            }

            .css-image {
                width: 350px;
                border-radius: 16px;
            }

            .java-image {
                width: 350px;
                border-radius: 16px;
            }

            .python-image {
                width: 350px;
                border-radius: 16px;
            }

            h3 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: $primary-background;
            }
        }
    }
}

@media screen and (max-width: $small) {
    main article section .html-image,
    main article section .css-image,
    main article section .java-image,
    main article section .python-image {
      width: 100%;
    }
  }

  @media screen and (min-width: $medium) {
    main {
      justify-content:space-around;
    }
    
    main article {
      width: 50%;
    }
  
    main article section .html-image,
    main article section .css-image,
    main article section .java-image,
    main article section .python-image {
      width: 100%;
    }
  }

  @media screen and (min-width: $large) {
    main {
      justify-content: space-evenly;
    }
    
    main article {
      width: 31%;
    }
  
    main article section .html-image,
    main article section .css-image,
    main article section .java-image,
    main article section .python-image {
      width: 100%;
    }
  }