/* imports for colour and breakpoitns */
@import "../defaults/color";
@import "../defaults/breakpoints";

/* styling for main, also nested styling for home and intro pics */
  main {
    .home {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
  
      .intro-pic,
      .intro-pic-two,
      .intro-pic-three {
        margin: 10px;
        flex-grow: 1;
        max-width: 40%;
  
        /* styling for images */
        img {
          width: 100%;
          height: auto;
          border-radius: 24px;
          border: 1px solid $primary-background;
        }
      }
  
      .details {
        text-align: center;
  
        /* styling for my H1 header */
        h1 {
          font-size: 32px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: $primary-color;
          margin: 24px;
        }
      }
    }
  }

  /* media query for medium screens */
@media screen and (min-width: $medium) {
  .home .intro-pic,
  .home .intro-pic-two,
  .home .intro-pic-three {
    max-width: 400px;
  }
}

/* media query for large screens */
@media screen and (min-width: $large) {
  .home .intro-pic,
  .home .intro-pic-two,
  .home .intro-pic-three {
    max-width: 500px;
  }
}
  
  
    
  