/* imports for colour and breakpoitns */
@import "../defaults/color";
@import "../defaults/breakpoints";

/* styling for main, also nested styling for home and intro pics */
  main {
    .home {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
  
      .intro-pic,
      .intro-pic-two,
      .intro-pic-three {
        margin: 10px;
        flex-basis: 300px;
        flex-shrink: 0;
  
        /* styling for images */
        img {
          width: 100%;
          height: auto;
          border-radius: 24px;
          border: 1px solid $primary-background;
        }
      }
  
      .details {
        text-align: center;
  
        /* styling for my H1 header */
        h1 {
          font-size: 32px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: $primary-color;
          margin: 24px;
        }
      }
    }
  }
  
  /* styling for mobile breakpoint */
  @media (max-width: $small) {
    .home {
    .intro-pic,
    .intro-pic-two,
    .intro-pic-three {
    flex-basis: 100%;
    }
    }
    }
    
    /* styling for tablet breakpoints */
    @media (max-width: $medium) {
    .home {
    .intro-pic,
    .intro-pic-two,
    .intro-pic-three {
    flex-basis: calc(50% - 20px);
    }
    }
    }
    
    /*styling for desktop breakpoits */
    @media (min-width: $large) {
    .home {
    .intro-pic,
    .intro-pic-two,
    .intro-pic-three {
    flex-basis: calc(33.33% - 20px);
    }
    }
    }
  