/* imported componants and utilities */ /* saved colours, we will use these in our imports */ /* imports for our header */ /* saved colours, we will use these in our imports */ /* mixins will be linked to our pages */ /* breakpoints, we will  use these in our imports */
/* styling for our header including nested elements, will be linked accross all pages */
header {
  background-color: #f95959;
  border-bottom: 2px solid #455d7a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* styling for our navigation items */
}
header .pic {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .pic img {
  height: 150px;
  width: 150px;
  border: 2px solid #455d7a;
  border-radius: 50%;
  transition: transform 2s ease-in-out;
}
header .pic img:hover {
  transform: scale(1.1);
}
header .name {
  font-size: 24px;
  color: #455d7a;
  font-family: Arial, Helvetica, sans-serif;
}
header .nav-items {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}
header .nav-items a {
  text-decoration: none;
  color: #455d7a;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .pic {
    display: flex;
    align-items: center;
  }
  header .name {
    margin-bottom: 0px;
  }
  header .nav-items {
    width: 50%;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .name {
    margin-bottom: 0px;
    font-size: 24px;
  }
  header .nav-items {
    width: 50%;
    margin-bottom: 18px;
    font-size: 20px;
  }
}
/* imports for our footer */ /* saved colours, we will use these in our imports */ /* mixins will be linked to our pages */ /* breakpoints, we will  use these in our imports */
/* styling for my footer including all the nested elements */
footer {
  background-color: #f95959;
  padding: 16px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 2px solid #455d7a;
}
footer .social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .social-media a {
  font-size: 24px;
  color: #455d7a;
}
footer .info {
  font-size: 20px;
  color: #455d7a;
  font-family: Arial, Helvetica, sans-serif;
}

/* breakpoint for mobile */
@media screen and (min-width: 480px) {
  .social-media {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* breakpoint for tablet */
@media screen and (min-width: 768px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* breakpoint for desktop */
@media screen and (min-width: 1024px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* body style this will be linked to all pages */
body {
  margin: 0px;
  background-color: #e3e3e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */